.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.shortvideo{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


@media (max-width:835px) {
    .products{
        display: block;
    }
    }
    
    @media (max-width:1600px) {
    .products{
        grid-template-columns: 1fr 1fr;
    }
    }