.wrapper{
    margin-left: 23px;
    text-align: left;
}

.info{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.52%;
    color: var(--primary);
}

.day{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 128.52%;
color: rgba(0, 0, 0, 0.7);
}